.categories {
  list-style: none;
  padding: 0;
}

.categories li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.categories li:hover {
  background-color: var(--dk-gray-600);
}

.categories li a {
  text-decoration: none;
  color: var(--dk-gray-400);
  display: flex;
  align-items: center;
}

.categories li i {
  margin-right: 10px;
  font-size: 18px;
  color: var(--dk-gray-500);
}

.sidebar-dropdown {
  display: none;
  padding-left: 20px;
}

.has-dropdown:hover .sidebar-dropdown {
  display: block;
}

.sidebar-dropdown li {
  padding: 10px 20px;
  font-size: 0.85rem;
}

.sidebar-dropdown li a {
  color: var(--dk-gray-400);
}

.has-dropdown > a:after {
  content: '\eb3a';
  font-family: 'unicons-line';
  font-size: 1rem;
  line-height: 1.8;
  float: right;
  color: var(--dk-gray-500);
  transition: all 0.3s ease-in-out;
}

.opened > a:after {
  transform: rotate(-90deg);
}
