<ul class="categories list-unstyled">
  <li class="has-dropdown">
    <i class="uil-estate fa-fw"></i><a href="#"> Dashboard</a>
    <ul class="sidebar-dropdown list-unstyled">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum dolor</a></li>
      <li><a href="#">dolor ipsum</a></li>
      <li><a href="#">amet consectetur</a></li>
      <li><a href="#">ipsum dolor sit</a></li>
    </ul>
  </li>
  <li>
    <i class="uil-folder"></i><a href="#"> File manager</a>
  </li>
  <li class="has-dropdown">
    <i class="uil-calendar-alt"></i><a href="#"> Calendar</a>
    <ul class="sidebar-dropdown list-unstyled">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum dolor</a></li>
      <li><a href="#">dolor ipsum</a></li>
      <li><a href="#">amet consectetur</a></li>
      <li><a href="#">ipsum dolor sit</a></li>
    </ul>
  </li>
  <li class="has-dropdown">
    <i class="uil-envelope-download fa-fw"></i><a href="#"> Mailbox</a>
    <ul class="sidebar-dropdown list-unstyled">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum dolor</a></li>
      <li><a href="#">dolor ipsum</a></li>
      <li><a href="#">amet consectetur</a></li>
      <li><a href="#">ipsum dolor sit</a></li>
    </ul>
  </li>
  <li class="has-dropdown">
    <i class="uil-shopping-cart-alt"></i><a href="#"> Ecommerce</a>
    <ul class="sidebar-dropdown list-unstyled">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum dolor</a></li>
      <li><a href="#">dolor ipsum</a></li>
      <li><a href="#">amet consectetur</a></li>
      <li><a href="#">ipsum dolor sit</a></li>
    </ul>
  </li>
  <li class="has-dropdown">
    <i class="uil-bag"></i><a href="#"> Projects</a>
    <ul class="sidebar-dropdown list-unstyled">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum dolor</a></li>
      <li><a href="#">dolor ipsum</a></li>
      <li><a href="#">amet consectetur</a></li>
      <li><a href="#">ipsum dolor sit</a></li>
    </ul>
  </li>
  <li>
    <i class="uil-setting"></i><a href="#"> Settings</a>
    <ul class="sidebar-dropdown list-unstyled">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum dolor</a></li>
      <li><a href="#">dolor ipsum</a></li>
      <li><a href="#">amet consectetur</a></li>
      <li><a href="#">ipsum dolor sit</a></li>
    </ul>
  </li>
  <li class="has-dropdown">
    <i class="uil-chart-pie-alt"></i><a href="#"> Components</a>
    <ul class="sidebar-dropdown list-unstyled">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum dolor</a></li>
      <li><a href="#">dolor ipsum</a></li>
      <li><a href="#">amet consectetur</a></li>
      <li><a href="#">ipsum dolor sit</a></li>
    </ul>
  </li>
  <li class="has-dropdown">
    <i class="uil-panel-add"></i><a href="#"> Charts</a>
    <ul class="sidebar-dropdown list-unstyled">
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">ipsum dolor</a></li>
      <li><a href="#">dolor ipsum</a></li>
      <li><a href="#">amet consectetur</a></li>
      <li><a href="#">ipsum dolor sit</a></li>
    </ul>
  </li>
  <li>
    <i class="uil-map-marker"></i><a href="#"> Maps</a>
  </li>
</ul>
