
@media (max-width: 1200px) {
    .pos-header {
        height: 8%;
        /* Réduire la hauteur de l'en-tête */
    }
    .header-button {
        height: 40px;
        /* Réduire la hauteur des boutons */
        font-size: 0.9rem;
        /* Réduire la taille de la police */
    }
    .header-button img {
        height: 20px;
        /* Réduire la taille des icônes */
    }
    .search-bar {
        width: 60%;
        font-size: 0.9rem;
        /* Réduire la taille de la police de recherche */
    }
    .categories {
        width: 12%;
        padding: 8px;
        /* Réduire la largeur et le padding des catégories */
    }
    .product-list {
        padding: 8px;
        /* Réduction du padding */
    }
    .selected-products {
        width: 35%;
        padding: 8px;
        /* Réduction de la largeur du tableau des produits sélectionnés */
    }
    /* .column-sr {
        font-size: small;
    } */
    .column-name {
        /* width: auto; */
        min-width: 25%;
        /* font-size: small; */
    }
    .column-qty {
        width: 13%;
        /* font-size: small; */
    }
    /* .column-price {
        font-size: small;
    } */
    /* .column-amount {
        font-size: small;
    }
    .column-remove {
        font-size: small;
    } */
    .column-sr,
    .column-name,
    .column-qty,
    .column-price,
    .column-amount,
    .column-remove {
        font-size: 0.8rem;
    }
}


/* Ajustements pour les écrans de 992px à 1200px de largeur (laptops) */

@media (max-width: 992px) {
    .product-card {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        width: 140px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.1px;
        max-height: 200px;
        cursor: pointer;
        transition: transform 0.2s;
    }
    .product-card:hover {
        transform: scale(1.05);
    }
    .product-card .product-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .product-card .product-title {
        padding: 5px;
    }
    .product-card .product-title h2 {
        font-size: 14px;
        margin: 5px 0;
        padding: 0;
        height: auto;
    }
    .text-long {
        display: none;
    }
    .text-short {
        display: inline;
    }
    .logo-title {
        display: none;
    }
    .tbhead {
        font-size: small;
    }
    .pos-header {
        height: 8%;
        /* Maintien de la hauteur réduite de l'en-tête */
    }
    .header-button {
        height: 35px;
        font-size: 0.85rem;
        /* Réduction supplémentaire de la taille des boutons et de la police */
    }
    .header-button img {
        height: 18px;
        /* Réduire davantage la taille des icônes */
    }
    .search-bar {
        width: 60%;
        font-size: 0.85rem;
        /* Réduction de la largeur et de la police de la barre de recherche */
    }
    .categories {
        width: 12%;
        padding: 8px;
        /* Ajustement de la largeur et du padding des catégories */
    }
    .product-list {
        padding: 8px;
        /* Ajustement du padding des cartes produits */
    }
    .selected-products {
        width: 35%;
        max-width: 40%;
        padding: 8px;
        /* Ajustement de la largeur et du padding des produits sélectionnés */
    }
    .column-sr,
    .column-name,
    .column-qty,
    .column-price,
    .column-amount,
    .column-remove {
        font-size: 0.56rem;
    }
}


/* Ajustements pour les écrans de 768px à 992px de largeur (tablettes en paysage) */


/* Media Queries pour les écrans de 768px à 992px (tablettes) */

@media (max-width: 768px) {
    .product-card {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        width: 120px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.1px;
        max-height: 180px;
        cursor: pointer;
        transition: transform 0.2s;
    }
    .product-card:hover {
        transform: scale(1.05);
    }
    .product-card .product-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .product-card .product-title {
        padding: 5px;
    }
    .product-card .product-title h2 {
        font-size: 14px;
        margin: 5px 0;
        padding: 0;
        height: auto;
    }
    .text-long {
        display: none;
    }
    .text-short {
        display: inline;
    }
    .logo-title {
        display: none;
    }
    .pos-header {
        height: 7%;
        /* Réduction de la hauteur de l'en-tête */
    }
    .header-buttons {
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        /* Les boutons passent en mode wrap */
    }
    .header-button {
        flex: 1 1 30%;
        /* Les boutons prennent 30% de largeur chacun */
        margin: 2px;
        height: 35px;
        /* font-size: 1em; */
        /* text-align: justify;  */
        /* background-color: #ff4081; */
        border: none;
        color: white;
        display: flex;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;
        /* height: 90%; */
        padding: 0 5px;
        width: auto;
        max-width: max-content !important;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        /* Réduction de la hauteur et de la taille de la police */
    }
    .header-button img {
        height: 18px;
        /* Ajustement de la taille des icônes */
    }
    .search-bar {
        width: 80%;
        font-size: 0.8rem;
        /* Augmentation de la largeur et réduction de la taille de la police */
    }
    .categories {
        /* width: 100%; */
        padding: 5px;
        border-right: none;
        border-bottom: 1px solid #ddd;
        /* Les catégories prennent toute la largeur */
    }
    .product-list {
        /* width: 100%; */
        padding: 5px;
        /* Les produits prennent toute la largeur */
    }
    .selected-products {
        /* width: 100%; */
        padding: 5px;
        /* Les produits sélectionnés prennent toute la largeur */
    }
    .pos-footer {
        height: 7%;
        padding: 0 10px;
        /* Réduction de la hauteur et du padding du pied de page */
    }
}


/* Media Queries pour les écrans de moins de 768px (smartphones) */

@media (max-width: 576px) {
    .product-card {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        width: 120px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.1px;
        max-height: 160px;
        cursor: pointer;
        transition: transform 0.2s;
    }
    .product-card:hover {
        transform: scale(1.05);
    }
    .product-card .product-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .product-card .product-title {
        padding: 5px;
    }
    .product-card .product-title h2 {
        font-size: 10px;
        margin: 5px 0;
        padding: 0;
        height: auto;
    }
    .logo-title img {
        height: 30px;
        /* Réduction de la taille du logo */
    }
    .header-buttons {
        flex-direction: row;
        /* align-items: center; */
        flex-wrap: nowrap;
        /* Les boutons sont disposés en colonne */
    }
    .header-button img {
        /* display: none; */
        width: 15px;
        height: 20px;
        /* object-fit: contain; */
        /* Ajustement de la taille des icônes */
    }
    .header-button {
        /* margin-right: 5px; */
        width: 30px;
        margin: 4px 1px;
        height: 30px;
        font-size: 0.7rem;
        /* Les boutons prennent toute la largeur */
    }
    .logout-button {
        /* display: none; */
        /* Masquer le bouton de déconnexion */
    }
    .search-bar {
        width: 90%;
        font-size: 0.7rem;
        /* La barre de recherche prend presque toute la largeur */
    }
    .categories {
        padding: 3px;
        border-right: none;
        border-bottom: 1px solid #ddd;
        /* Les catégories prennent toute la largeur */
    }
    .product-list {
        width: 100%;
        padding: 3px;
        /* Les produits prennent toute la largeur */
    }
    .selected-products {
        width: 100%;
        padding: 3px;
        /* Les produits sélectionnés prennent toute la largeur */
    }
    .pos-footer {
        height: 8%;
        padding: 0 10px;
        /* Réduction de la hauteur et du padding du pied de page */
    }
}