<div class="all">
    <!-- En-tête du POS -->
    <div class="pos-header">
        <div class="logo-title">
            <img src="../../assets/images/icons8-knife-and-fork-64.png" alt="Logo">
            <h1 class="titre">POS</h1>
        </div>
        <div class="header-buttons">
            <button class="header-button">
              <img src="../../assets/images/icons8-add-96w.png" alt="Nouveau">
              <span class="text-long">Nouveau</span>
              <span class="text-short">Nouv.</span>
          </button>
            <button class="header-button">
              <img src="../../assets/images/icons8-new-ticket-64.png" alt="En attente">
              <span class="text-long">En attente</span>
              <span class="text-short">Att.</span>
          </button>
            <button class="header-button">
              <img src="../../assets/images/icons8-bill-90.png" alt="Liste des factures">
              <span class="text-long">Factures</span>
              <span class="text-short">Fact.</span>
          </button>
            <button class="header-button">
              <img src="../../assets/images/icons8-chef-hat-j.png" alt="KOT">
              <span class="text-long">KOT</span>
          </button>
            <button class="header-button">
              <img src="../../assets/images/icons8-delivery-100.png" alt="Livraison">
              <span class="text-long">Livraison</span>
              <span class="text-short">Livr.</span>
          </button>
            <button class="header-button">
              <img src="../../assets/images/icons8-take-away-food-100.png" alt="À emporter">
              <span class="text-long">À emporter</span>
              <span class="text-short">Emp.</span>
          </button>
            <button class="header-button">
              <img src="../../assets/images/icons8-restaurant-table-90.png" alt="Dîner sur place">
              <span class="text-long">Dîner sur place</span>
              <span class="text-short">Sur place </span>
          </button>
        </div>
        <div class="logout-button">
            <button routerLink="/dashboard/home" href="/dashboard/home" class="header-button headerbtnlogout">
              <img src="../../../../assets/images/icons8-shutdown-48.png" alt="Sortir">
          </button>
        </div>
    </div>

    <!-- Corps principal du POS -->
    <div class="pos-main">
        <div class="top-bar">
            <input type="text" class="search-bar" placeholder="Rechercher ici">
        </div>
        <div class="main-content">
            <div class="categories">
                <ul>
                    <li>
                        <button class="category-button" (click)="selectCategory(null)">Tout</button>
                    </li>
                    <li *ngFor="let category of categories">
                        <button class="category-button" (click)="selectCategory(category.id)">
                          {{ category.nom }}
                      </button>
                    </li>
                </ul>
            </div>
            <div class="product-list">
                <div class="product-card" *ngFor="let produit of filteredProduits" (click)="addProductToSelection(produit)">
                    <img [src]="getImageUrl(produit.imagePrincipale)" alt="{{ produit.nom }}">
                    <h2>{{ produit.nom }}</h2>
                </div>
            </div>
            <div class="selected-products">
                <table>
                    <thead class="tbhead">
                        <tr>
                            <th class="column-sr">#</th>
                            <th class="column-name">Nom</th>
                            <th class="column-qty">Qte</th>
                            <th class="column-price">Prix</th>
                            <th class="column-amount">Montant</th>
                            <th class="column-remove"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let produit of selectedProducts; let i = index">
                            <td class="column-sr">{{ i + 1 }}</td>
                            <td class="column-name">{{ produit.nom }}</td>
                            <td class="column-qty">
                                <input type="number" title="qte" [(ngModel)]="produit.quantiteStock" min="1">
                            </td>
                            <td class="column-price">{{ produit.prix | number: '1.2-2' }}</td>
                            <td class="column-amount">{{ (produit.prix * produit.quantiteStock) | number: '1.2-2' }}</td>
                            <td class="column-remove">
                                <button class="remove-button" (click)="removeProductFromSelection(produit)">-</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Pied de page du POS -->
    <div class="pos-footer">
        <button class="checkout-button" (click)="checkout()">Valider</button>
        <div class="total-amount">Total : {{ getTotalAmount() | number: '1.2-2' }}</div>
    </div>
</div>