/* Styles globaux pour le composant POS */

.all {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    /* Base font-size */
}


/* Styles pour l'en-tête du POS */

.pos-header {
    background-color: #32324d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 10%;
    width: 100%;
    justify-content: center;
    /* Centrer le contenu horizontalement */
    position: relative;
}


/* Conteneur pour le logo et le titre */

.logo-title {
    display: flex;
    align-items: center;
    /* Centrer verticalement */
    justify-content: flex-start;
    /* Conserver la position horizontale actuelle */
    height: 100%;
    /* Prendre toute la hauteur de l'en-tête pour centrer verticalement */
    margin: 0 !important;
    flex: 0.3;
    margin-right: 5px;
}

.logo-title h1 {
    margin: 5px 5px 0px !important;
    font-size: 35px;
}

.logo-title img {
    height: 50px;
}


/* Conteneur pour les boutons du header */

.header-buttons {
    display: flex;
    justify-content: flex-start;
    flex: 2;
    /* height: 90% ! important; */
}


/* Styles pour les boutons du header */

.header-button {
    background-color: #ff4081;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    height: 50px;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: #e91e63;
}

.header-button img {
    height: 24px;
    margin-right: 5px;
}


/* Bouton de déconnexion */


/* Styles pour le bouton "Sortir" */

.headerbtnlogout {
    background-color: #32324d;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.headerbtnlogout img {
    /* height: 24px; */
    height: auto;
    transition: opacity 0.3s ease;
}

.headerbtnlogout:hover {
    background-color: #323759;
    /* Changer la couleur de fond au survol */
}

.headerbtnlogout:hover img {
    opacity: 0;
    /* Cache l'icône initiale lors du survol */
}

.headerbtnlogout::after {
    content: url('../../../../assets/images/icons8-shutdown-48.png');
    /* Nouvelle icône au survol */
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.headerbtnlogout:hover::after {
    opacity: 1;
    /* Affiche la nouvelle icône lors du survol */
}


/* Styles pour le corps principal du POS */

.pos-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.top-bar {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
}

.search-bar {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.main-content {
    display: flex;
    flex: 1;
}

.categories {
    background-color: white;
    width: 10%;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.category-button {
    background-color: #323759;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px 0;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #4c4f85;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories li {
    margin-bottom: 5px;
}

.product-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    overflow-y: auto;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 180px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.1px;
    max-height: 220px;
    cursor: pointer;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card .product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card .product-title {
    padding: 5px;
}

.product-card .product-title h2 {
    font-size: 14px;
    margin: 5px 0;
    padding: 0;
    height: auto;
}

.selected-products {
    width: 30%;
    max-width: 30%;
    overflow-y: auto;
    padding: 10px;
    border-left: 1px solid #ddd;
    background-color: #fff;
}

.selected-products table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.selected-products th,
.selected-products td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Définir des largeurs spécifiques pour chaque colonne */

.column-sr {
    width: 10%;
}

.column-name {
    width: 35%;
}

.column-qty {
    width: 11%;
}

.column-price {
    width: 15%;
}

.column-amount {
    width: 20%;
}

.column-remove {
    width: 10%;
}


/* Styles spécifiques pour le bouton "Remove" */

.remove-button {
    background-color: red;
    /* Couleur rouge pour indiquer la suppression */
    border: none;
    /* Pas de bordure */
    color: white;
    /* Couleur du texte en blanc */
    padding: 5px 10px;
    /* Padding pour une meilleure taille du bouton */
    cursor: pointer;
    /* Curseur en forme de main pour indiquer la cliquabilité */
    border-radius: 5px;
    /* Bordures arrondies */
    transition: background-color 0.3s ease;
    /* Transition pour l'effet de survol */
    font-size: 1rem;
    /* Taille de police cohérente avec le reste de l'interface */
}

.remove-button:hover {
    background-color: #c0392b;
    /* Couleur plus sombre au survol */
}

.remove-button:focus {
    outline: none;
    /* Supprime le contour par défaut lors du focus */
}

.selected-products input[type="number"] {
    width: 100%;
}

.pos-footer {
    min-width: 100%;
    background-color: #323759;
    /* background-color: #343a40; */
    display: flex;
    color: white;
    justify-content: end;
    align-items: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    height: 6%;
    padding: 0 5px;
}

.checkout-button {
    margin-right: 15px;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #45a049;
}

.total-amount {
    font-size: 18px;
    margin-right: 18px;
    font-weight: bold;
}


/* Media Queries pour la réactivité */

@media (max-width: 1200px) {
    .all {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        /* overflow: hidden; */
    }
    .pos-header {
        height: auto + 10px !important;
        min-width: 100%;
    }
    .pos-main {
        width: 100%;
        /* flex-grow: 1; */
        min-height: 54%;
        /* flex: 2; */
        max-height: max-content;
        /* height: auto !important; */
        display: flex;
        flex-direction: column;
        /* overflow-x: hidden; */
        /* overflow-y: scroll; */
        background-color: #f5f5f5;
    }
    .pos-footer {
        min-width: 100%;
        background-color: #343a40;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
        height: 7% !important;
        padding: 0 10px;
    }
    .top-bar {
        height: 5.5%!important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        margin-bottom: 0px;
    }
    .search-bar {
        width: 60%;
        font-size: 14px !important;
    }
    .categories {
        background-color: #45a049;
        flex: 0 0 10%;
        padding: 5px;
        border: 1px solid #ddd;
    }
    .product-list {
        background-color: red;
        flex: 0 0 60%;
        padding: 5px;
        border: 1px solid #ddd;
        min-width: 60%;
    }
    .selected-products {
        flex: 0 0 20%;
        padding: 5px;
        border: 1px solid #ddd;
    }
    .logo-title {
        display: none;
    }
    .column-sr {
        width: 10%;
    }
    .column-name {
        width: 35%;
    }
    .column-qty {
        width: 11%;
    }
    .column-price {
        width: 15%;
    }
    .column-amount {
        width: 20%;
    }
    .column-remove {
        width: 10%;
    }
}

@media (max-width: 992px) {
    /* .header-buttons {
  flex-wrap: wrap;
} */
    .pos-header {
        height: 8%;
        /* Réduire la hauteur de l'en-tête */
        min-width: 100%;
    }
    .header-button {
        margin: 2px;
        flex: 1 1 20%;
        height: 40px;
        /* Réduire la hauteur des boutons */
        font-size: 0.9rem;
        /* Réduire la taille de la police */
        padding: 5px;
        /* Ajuster le padding pour mieux centrer le contenu */
    }
    .header-button img {
        height: 20px;
        /* Réduire la taille des icônes */
    }
    .top-bar {
        height: 5.5%!important;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        margin-bottom: 8px;
    }
    .pos-main {
        min-width: 100%;
        /* height: 10% !important; */
        /* flex-grow: 1; */
        /* display: flex; */
        /* flex-direction: column; */
        /* overflow-x: hidden; */
        /* overflow-y: scroll; */
        max-height: 80% !important;
        background-color: #f5f5f5;
    }
    .main-content {
        overflow-y: scroll !important;
        height: 94..5% !important;
        width: 100%;
    }
    .search-bar {
        width: 60%;
        font-size: 14px !important;
    }
    .categories {
        background-color: #45a049;
        flex: 0 0 auto;
        padding: 5px;
        border: 1px solid #ddd;
    }
    .product-list {
        background-color: red;
        flex: 0 0 60%;
        padding: 5px;
        border: 1px solid #ddd;
    }
    .selected-products {
        flex: 0 0 auto;
        padding: 5px;
        border: 1px solid #ddd;
    }
    .pos-footer {
        min-width: 100%;
        background-color: #343a40;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
        height: 7% !important;
        padding: 0 20px;
    }
    .logo-title {
        display: none;
    }
    .header-button {
        margin: 2px 2px;
        flex: 1 1 45%;
        height: 40px;
        font-size: 10px;
    }
    .pos-header {
        height: auto !important;
        min-width: 100%;
    }
    .pos-footer {
        min-width: 100%;
        background-color: #343a40;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
        height: 7% !important;
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .header-buttons {
        /* flex-wrap: wrap; */
        justify-content: center;
    }
    .header-button {
        margin: 5px 2px;
        flex: 1 1 45%;
        height: 35px;
        font-size: small;
    }
    .search-bar {
        width: 80%;
        font-size: 12px;
    }
    /* .main-content {
  flex-direction: column;
} */
}

@media (max-width: 576px) {
    .logo-title img {
        height: 30px;
    }
    .header-buttons {
        flex-direction: column;
        align-items: center;
    }
    .header-button {
        width: 100%;
        margin: 2px 0;
        height: 30px;
        font-size: 10px;
    }
    .logout-button {
        display: none;
    }
    .search-bar {
        width: 90%;
        font-size: 10px;
    }
    /* .main-content {
  flex-direction: column;
} */
}

@media (max-width: 1200px) {
    .pos-header {
        height: 8%;
        /* Réduire la hauteur de l'en-tête */
    }
    .header-button {
        height: 40px;
        /* Réduire la hauteur des boutons */
        font-size: 0.9rem;
        /* Réduire la taille de la police */
    }
    .header-button img {
        height: 20px;
        /* Réduire la taille des icônes */
    }
    .search-bar {
        width: 60%;
        font-size: 0.9rem;
        /* Réduire la taille de la police de recherche */
    }
    .categories {
        width: 12%;
        padding: 8px;
        /* Réduire la largeur et le padding des catégories */
    }
    .product-list {
        padding: 8px;
        /* Réduction du padding */
    }
    .selected-products {
        width: 35%;
        padding: 8px;
        /* Réduction de la largeur du tableau des produits sélectionnés */
    }
    .column-sr {
        font-size: small;
    }
    .column-name {
        /* width: auto; */
        min-width: 25%;
        font-size: small;
    }
    .column-qty {
        width: 13%;
        font-size: small;
    }
    .column-price {
        font-size: small;
    }
    .column-amount {
        font-size: small;
    }
    .column-remove {
        font-size: small;
    }
}


/* Ajustements pour les écrans de 992px à 1200px de largeur (laptops) */

@media (max-width: 992px) {
    .logo-title {
        display: none;
    }
    .pos-header {
        height: 8%;
        /* Maintien de la hauteur réduite de l'en-tête */
    }
    .header-button {
        height: 35px;
        font-size: 0.85rem;
        /* Réduction supplémentaire de la taille des boutons et de la police */
    }
    .header-button img {
        height: 18px;
        /* Réduire davantage la taille des icônes */
    }
    .search-bar {
        width: 60%;
        font-size: 0.85rem;
        /* Réduction de la largeur et de la police de la barre de recherche */
    }
    .categories {
        width: 12%;
        padding: 8px;
        /* Ajustement de la largeur et du padding des catégories */
    }
    .product-list {
        padding: 8px;
        /* Ajustement du padding des cartes produits */
    }
    .selected-products {
        width: 35%;
        padding: 8px;
        /* Ajustement de la largeur et du padding des produits sélectionnés */
    }
}


/* Ajustements pour les écrans de 768px à 992px de largeur (tablettes en paysage) */


/* Media Queries pour les écrans de 768px à 992px (tablettes) */

@media (max-width: 768px) {
    .logo-title {
        display: none;
    }
    .pos-header {
        height: 7%;
        /* Réduction de la hauteur de l'en-tête */
    }
    .header-buttons {
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        /* Les boutons passent en mode wrap */
    }
    .header-button {
        flex: 1 1 30%;
        /* Les boutons prennent 30% de largeur chacun */
        margin: 2px;
        height: 35px;
        /* font-size: 1em; */
        /* text-align: justify;  */
        /* background-color: #ff4081; */
        border: none;
        color: white;
        display: flex;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;
        /* height: 90%; */
        padding: 0 5px;
        width: auto;
        max-width: max-content !important;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        /* Réduction de la hauteur et de la taille de la police */
    }
    .header-button img {
        height: 18px;
        /* Ajustement de la taille des icônes */
    }
    .search-bar {
        width: 80%;
        font-size: 0.8rem;
        /* Augmentation de la largeur et réduction de la taille de la police */
    }
    .categories {
        /* width: 100%; */
        padding: 5px;
        border-right: none;
        border-bottom: 1px solid #ddd;
        /* Les catégories prennent toute la largeur */
    }
    .product-list {
        /* width: 100%; */
        padding: 5px;
        /* Les produits prennent toute la largeur */
    }
    .selected-products {
        width: 100%;
        padding: 5px;
        /* Les produits sélectionnés prennent toute la largeur */
    }
    .pos-footer {
        height: 7%;
        padding: 0 10px;
        /* Réduction de la hauteur et du padding du pied de page */
    }
}


/* Media Queries pour les écrans de moins de 768px (smartphones) */

@media (max-width: 576px) {
    .logo-title img {
        height: 30px;
        /* Réduction de la taille du logo */
    }
    .header-buttons {
        flex-direction: column;
        align-items: center;
        /* Les boutons sont disposés en colonne */
    }
    .header-button {
        width: 100%;
        margin: 2px 0;
        height: 30px;
        font-size: 0.7rem;
        /* Les boutons prennent toute la largeur */
    }
    .logout-button {
        display: none;
        /* Masquer le bouton de déconnexion */
    }
    .search-bar {
        width: 90%;
        font-size: 0.7rem;
        /* La barre de recherche prend presque toute la largeur */
    }
    .categories {
        width: 100%;
        padding: 3px;
        border-right: none;
        border-bottom: 1px solid #ddd;
        /* Les catégories prennent toute la largeur */
    }
    .product-list {
        width: 100%;
        padding: 3px;
        /* Les produits prennent toute la largeur */
    }
    .selected-products {
        width: 100%;
        padding: 3px;
        /* Les produits sélectionnés prennent toute la largeur */
    }
    .pos-footer {
        height: 8%;
        padding: 0 10px;
        /* Réduction de la hauteur et du padding du pied de page */
    }
}