/* Navbar styles */
.navbar {
  background-color: #f8f9fa; /* Light theme background color */
  border-bottom: 1px solid #e7e7e7; /* Light border color */
  padding: 10px;
  text-align: center;
}

.navbar-brand {
  font-size: 1.5em;
  color: #373759;
}

.navbar-brand .main-color {
  color: #5a5af1;
}

.navbar-nav {
  align-items: center; /* Center align the items vertically */
}

.navbar-nav .nav-item .nav-link {
  color: #373759;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .nav-link i {
  margin-right: 5px;
}

.navbar-nav .nav-item .dropdown-menu {
  right: 0;
  left: auto;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animation for dropdown */
  transform: translateY(10px);
  opacity: 0;
  display: block;
}

.navbar-nav .nav-item .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
}

.toggle-sidebar {
  background: none;
  border-radius: 50%;
  border: solid 1px #f8f9fa;
  cursor: pointer;
  color: #373759;
  /* background-color: #fff; */
  background-color: #f8f9fa; /* Light theme background color */

}.navbar-toggler {
  background: none;
  border: none;
  cursor: pointer;
  color: #373759 ;
  /* background-color: #fff; */
  background-color: #f8f9fa; /* Light theme background color */

}


.toggle-sidebar i {
  font-size: 1.5em;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar-nav .nav-item .nav-link {
    justify-content: center;
  }
.hide-mobile1{
display: none;
}
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .navbar {
    left: 15px;
    background-color: #f8f9fa; /* Light theme background color */
    border-bottom: 1px solid #e7e7e7; /* Light border color */
    padding: 10px;
    text-align: center;
  }
}
