<div class="two-factor-auth-container">
    <div class="text-center" *ngIf="qrCodeUrl">
        <h3>Scannez le code QR avec Google Authenticator</h3>
        <img [src]="qrCodeUrl" alt="QR Code">
    </div>
    <form (ngSubmit)="onVerifyTwoFactor()">
        <div class="form-group">
            <label for="twoFactorCode">Code de vérification</label>
            <input type="text" id="twoFactorCode" [(ngModel)]="twoFactorCode" name="twoFactorCode" class="form-control" placeholder="Entrez votre code de vérification" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Vérifier</button>
        <p *ngIf="verificationFailed" class="error-message text-center text-danger">Code de vérification incorrect</p>
    </form>
</div>
