<!-- src/app/components/view/view-template/view-template.component.html -->
<div class="view-container">
    <div class="top-section">
        <div class="actions">
            <div class="action-item">
                <label class="addbtn" for="add-button">Ajouter une Table</label>
                <button id="add-button" (click)="addTable()">+</button>
            </div>
            <div class="action-item action-item-special">
                <label class="search" for="search-input">Rechercher</label>
                <input type="text" id="search-input" placeholder="Rechercher ici" class="search-input" [(ngModel)]="searchTerm" (input)="searchTables()">
            </div>
        </div>
    </div>
    <div class="main-section">
        <table>
            <thead>
                <tr>
                    <th>Sr#</th>
                    <th>Nom</th>
                    <th>Capacité</th>
                    <th>Disponibilité</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let table of filteredTables; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ table.nom }}</td>
                    <td>{{ table.capacite }}</td>
                    <td>{{ table.disponibilite ? 'Oui' : 'Non' }}</td>
                    <td class="action-buttons">
                        <button (click)="editTable(table)">
                          <img src="../../../../assets/images/icons8-pencil-96.png" alt="Edit" />
                      </button>
                        <button (click)="deleteTable(table)">
                          <img src="../../../../assets/images/icons8-full-recycle-bin-96.png" alt="Delete" />
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button id="scroll-top-button" (click)="scrollToTop()">↑</button>
    <app-table-form #tableForm (tableUpdated)="onTableUpdated()"></app-table-form>
    <app-message-box></app-message-box>
    <!-- Ajouter ici -->
</div>