<!-- unauthorized.component.html -->
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <img src="./../../../assets/images/_080ebb34-9d99-435b-af60-0af599fc35ea.jfif" alt="Unauthorized" style="width: 50%; height: 60%;object-fit:contain ;box-sizing: border-box;margin-bottom: 20px;">
    <h1 style="font-size: 2em; margin-bottom: 10px;">Accès non autorisé</h1>
    <p style="font-size: 1.2em; margin-bottom: 20px;">Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    <button style="padding: 10px 20px; font-size: 1em; color: #fff; background-color: #007bff; border: none; border-radius: 5px; cursor: pointer;" (click)="goToHome()">Retour à l'accueil</button>
</div>
