
/* Styles pour le menu latéral */
.sidebarmain {
    text-align: center;
    position: absolute;
    justify-content: center;
    display: flex;
    
    /* align-items: center; */
    
}

/* Styles pour les éléments de la liste du menu latéral */
.sidebarmain ul li {
    row-gap: 10px;
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
    /* margin: 10px 0px; */
    /* background-color: aqua; */
    align-items: end;
    display: inline-block;
    /* text-align: center; */
    width: 90%;
    row-gap: 10px;
    margin-left: 10% !important;
    margin-top: 10px;
    /* padding: 0PX!important; */

    /* border: solid 1px black; */

    /* justify-content: center; */
}

/* Styles pour les liens du menu latéral */

.sidebarlist{
    background-color: #fff;
    height: 100%;
    padding: 0PX 0PX !important;
    /* height: 80%; */
}
/* Styles pour chaque élément de menu */
.menuitem {
    padding: 0PX 0PX !important;

    border-radius: 50px 0px 0px 50px;
    text-align: end;
    justify-content: center;
    display: flex;
    row-gap: 10px;
    /* padding-left: 10px; */
    /* margin-left: 15PX; */
    width: 100%;
    /* border: solid red 1px; */
    height: 45px;
    /* padding-bottom: 20px; */
    flex-flow: column;
}
/* Styles pour les liens du menu */
.menulink {
    /* border: solid 1px black; */

    border-radius: 50px 0px 0px 50px;
    display: flex;
    /* width: 100% + 10px; */
    height: 100%;
    align-items: center;
    text-decoration: none;
    font-size: 1.5em;
    text-align: end;
    justify-content: center;
    /* background-color: aqua; Couleur de fond par défaut */
    color: black; /* Couleur du texte par défaut */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour la couleur de fond, la couleur du texte et l'ombre portée */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre portée par défaut */
}


/* Effet au survol */
.menulink:hover {
    background-color: beige; /* Nouvelle couleur de fond au survol */
    color: white; /* Nouvelle couleur du texte au survol */
    width: calc(100% + 10px); /* Augmente la largeur de 10px */
    padding-left: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* Ombre portée plus prononcée au survol */
    margin-left: -10px; /* Déplace l'élément de 10px vers la gauche au survol */
}


/* #373759 */
/* #FA5252 */
/* #F1557E */