<div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
  <img
    width="65px"
    src="/src/assets/images/user"
    alt="User Avatar">
  <div class="ms-2">
    <h5 class="fs-6 mb-0">
      <a class="text-decoration-none" href="#">John Doe</a>
    </h5>
    <p class="mt-1 mb-0">Lorem ipsum dolor sit amet consectetur.</p>
  </div>
</div>
<div class="search position-relative text-center px-4 py-3 mt-2">
  <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here">
  <i class="fa fa-search position-absolute d-block fs-6"></i>
</div>
