.email-reset-container {
    height: 100%;
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center;
    object-fit: fill;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.email-reset-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: relative;
}

.email-reset-top {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.email-reset-main {
    padding: 20px;
    padding-top: 60px;
    /* Adjust padding top to avoid overlap with the back icon */
}

h2 {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4a4a77;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #373759;
}

@media (max-width: 768px) {
    .email-reset-box {
        margin: 10px;
    }
}


/* Media query pour la rotation de l'iPad Pro */

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    .email-reset-container {
        height: 100vh;
    }
    .email-reset-box {
        /* max-width: 600px; */
    }
}