<aside class="sidebar" [class.sidebar-hidden]="!sidebarVisible">
    <div class="sidebar-header" [class.hidden]="!user?.prenom || !user?.nom || !user?.role">
        <img class="imglogo" src="../../../assets/images/DD.png" alt="Logo">
        <div class="text-center">
            <h5 class="fs-6 mb-0">
                <a class="text-decoration-none text-white" href="#">{{ user?.prenom }} {{ user?.nom }}</a>
            </h5>
            <p class="mt-1 mb-0 text-white">{{ user?.role }}</p>
        </div>
    </div>
    <ul class="categories">
        <li routerLinkActive="active" routerLink="/dashboard/home" [class.hidden]="!['admin', 'superadmin', 'serveur'].includes(user?.role)">
            <i class="uil uil-estate"></i><a> Accueil</a>
        </li>
        <li routerLinkActive="active" routerLink="/dashboard/categories" [class.hidden]="!['admin', 'superadmin'].includes(user?.role)">
            <i class="uil uil-folder"></i><a> Catégories</a>
        </li>
        <li routerLinkActive="active" routerLink="/dashboard/produits" [class.hidden]="!['admin', 'superadmin'].includes(user?.role)">
            <i class="uil uil-box"></i><a> Produits</a>
        </li>
        <li routerLinkActive="active" routerLink="/dashboard/tables" [class.hidden]="!['admin', 'superadmin'].includes(user?.role)">
            <i class="uil uil-table"></i><a> Tables</a>
        </li>
        <li routerLinkActive="active" routerLink="/dashboard/staff" [class.hidden]="!['admin', 'superadmin'].includes(user?.role)">
            <i class="uil uil-users-alt"></i><a> Staff</a>
        </li>
        <li routerLinkActive="active" routerLink="/POS" [class.hidden]="!['admin', 'superadmin', 'serveur'].includes(user?.role)">
            <i class="uil uil-credit-card"></i><a> Terminal de vente</a>
        </li>
        <li routerLinkActive="active" routerLink="/dashboard/kitchen" [class.hidden]="!['admin', 'superadmin', 'cuisinier'].includes(user?.role)">
            <i class="uil uil-utensils-alt"></i><a> Cuisine</a>
        </li>
        <li routerLinkActive="active" routerLink="/dashboard/statistics" [class.hidden]="!['admin', 'superadmin'].includes(user?.role)">
            <i class="uil uil-chart-line"></i><a> Statistique</a>
        </li>
        <!-- Paramètres visibles uniquement sur mobile -->
        <li class="mobile-only" routerLinkActive="active" routerLink="/dashboard/parametres">
            <i class="uil uil-cog"></i><a> Paramètre</a>
        </li>
    </ul>
    <!-- Bouton Déconnexion visible uniquement sur mobile -->
    <button class="logout mobile-only" (click)="logout()">Déconnexion</button>
</aside>
