<!-- not-found.component.html -->
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; text-align: center;">
    <img src="./../../../../assets/images/something-lost.png" alt="Not Found" style="width: 50%; height: 60%;object-fit:contain ;box-sizing: border-box;margin-bottom: 20px;">
    <h1 style="font-size: 2em; margin-bottom: 10px;">Page non trouvée</h1>
    <p style="font-size: 1.2em; margin-bottom: 20px;">La page que vous recherchez n'existe pas.</p>
    <button style="padding: 10px 20px; font-size: 1em; color: #fff; background-color: #007bff; border: none; border-radius: 5px; cursor: pointer;" (click)="goToHome()">Retour à l'accueil</button>
</div>
