<!-- src/app/components/menu/menu.component.html -->
<nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
        <div class="navbar-header">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation" id="menu-toggle">
              <i class="bi bi-toggle-off"></i>
            </button>



            <a class="navbar-brand" href="#">Admin<span class="main-color">Space</span></a>
        </div>
        <div class="collapse navbar-collapse" id="toggle-navbar">
            <ul class="navbar-nav ms-auto">
                <li>
                    <button mat-button [matMenuTriggerFor]="belowMenu" class="nav-link" saria-label="Menu">Paramètres</button>
                    <mat-menu #belowMenu="matMenu" yPosition="below">
                        <button mat-menu-item aria-label="Mon Compte">Mon Compte</button>
                        <button mat-menu-item aria-label="Aide">Aide</button>
                        <button mat-menu-item aria-label="Notification">Notification</button>
                        <button (click)="logout()" mat-menu-item aria-label="Déconnexion">Déconnexion</button>
                    </mat-menu>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Paramètres
          </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" aria-label="Mon Compte">Mon Compte</a></li>
                        <li><a class="dropdown-item" aria-label="Notification">Notification</a></li>
                        <li><a class="dropdown-item" aria-label="Aide">Aide</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="logout()" aria-label="Déconnexion">Déconnexion</a></li>
                    </ul>
                </li>
                <li class="hide-mobile1 nav-item">
                    <button class="nav-link toggle-sidebar" (click)="toggleSidebar()" aria-label="Toggle Sidebar">
            <i class="uil-bars show-side-btn"></i>
          </button>
                </li>
            </ul>
        </div>
    </div>
</nav>