<!-- src/app/message-box/message-box.component.html -->
<div *ngIf="show" class="message-box">
    <div class="message-box-content">
        <div class="icon-title">
            <img [src]="getIcon()" alt="Icon" class="icon">
            <h2>{{ getTitle() }}</h2>
        </div>
        <p>{{ message }}</p>
        <div *ngIf="type === 'confirm'" class="confirm-buttons">
            <button (click)="confirm(true)">Oui</button>
            <button (click)="confirm(false)">Non</button>
        </div>
        <div *ngIf="type !== 'confirm'" class="close-button">
            <button (click)="close()">OK</button>
        </div>
    </div>
</div>
